.App {
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer__Ron {
  height: 500px;
  width: 750px;
  margin-top: 200px;
}

.mainContainer__Buttons {
  display: flex;
  width: 750px;
  justify-content: space-around;
  margin-top: 10px;
}

.mainContainer__Quote {
  margin-top: 50px;
}

.mainContainer__ratingButtons {
  margin: 10px;
}
.mainContainer__Average {
  margin-top: 10px;
}